body {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 36px;
    color: #83522a;
}
strong {
    font-family: "VT323", monospace;
}

#notInteractable {
    max-width: 100vw;
    height: 60vh;

    background-color: #83522a;
}
#display {
    width: 65%;
    height: inherit;
    position: relative;
    margin: auto;

    background-color: black;
}
#player, #enemy {
    display: absolute;
}
#player, #enemy {
    position: absolute;

    color: white;

    font-family: "VT323", monospace;
    font-size: 45px;
}
#playerHPBarOutline {
    width: 320px;
    height: 30px;
    top: 450px;
    left: 100px;

    position: absolute;

    border: 10px solid #83522a;
    border-radius: 35px;

    background-color: #9c7352;

}
#playerHPBar, #enemyHPBar {
    width: 320px;
    height: 30px;
    top: 460px;
    left: 110px;

    position: absolute;

    border-radius: 25px;

    background-color: #ff7979;

    /* position: absolute; */
}
#playerHPVal {
    top: 405px;
    left: 475px;

    position: absolute;
    display: block;
}

/* #playerHPBar {
    left: 100px;
    bottom: 50px;
}
#enemyHPBar {
    right: 100px;
    top: 50px;
} */




#interactable {
    display: flex;
    height: 40vh;
}

#actionBox, #textBox {
    border: 20px double #83522a;
    background-color: #FCECB5;
}

#actionBox {
    width: 25%;
    padding: 0px 25px;
}
#attack, #draw, #back, #roll, #continue, #discard, #end {
    cursor: pointer;
}
#back, #roll, #continue, #discard, #end {
    display: none;
}

#textBox {
    width: 75%;
    padding: 0px 25px;
    /* align-items: center; */
}
#cards {
    display: none;

    justify-content: space-around;
    align-items: flex-end;
}
.card {
    width: 150px;
    height: 175px;
    padding: 10px 10px;

    border-radius: 20px;
    border: 2px solid #83522a;

    display: flex;
    flex-direction: column;

    cursor: pointer;

    font-size: 18px;

    background-size: contain;
}
.card strong {
    padding-left: 40px;
    font-size: 24px;
}
.card:hover {
    animation: 0.75s linear 0s infinite cardBounce;
}
@keyframes cardBounce {
    0% {transform: translate(0px, 0px);}
    25% {transform: translate(0px, -10px);}
    50% {transform: translate(0px, -20px);}
    75% {transform: translate(0px, -10px);}
    100% {transform: translate(0px, 0px);}
}