header {
    background-color: black;
}
h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
}
h1 {
    font-size: 50px;
    margin-top: 0px;
    padding: 45px 100px;
    color: white;
    animation: 2s ease-in-out 0s 1 slideFromTop;
}
h2 {
    font-size: 36px;
    margin-bottom: 15px;;
}
body {
    font-family: 'Quicksand', sans-serif;
}
article {
    margin: 0px 250px;
}
article:not(:first-of-type) {
    padding-top: 20px;
}
article a:hover {
    font-weight: bold;
}
img, figcaption {
    margin: auto;
    display: block;
}
figcaption {
    text-align: center;
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}