html {
    background-color: #FFFAE2;
}
body {
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
}
h1 {
    font-size: 64px;
}
form {
    border: 5px dashed #5C3200;
    background-color: white;
    border-radius: 50px;
    padding: 45px 20px;
    margin: auto;
    margin-bottom: 50px;
    width: 500px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    font-size: 24px;
}
input[type=text], input[type=number] {
    margin-left: 10px;
    padding: 5px;

    border-radius: 15px;
    border-color: #EFB169;
    /* border-width: 5px; */
    outline: none;
}
input[type=text]:focus, input[type=number]:focus {
    border-width: 5px;
}
#submitBtn {
    margin: auto;
    margin-top: 50px;
    width: 150px;
    padding: 10px 50px;

    font-size: 24px;

    background-color: #5C3200;
    color: #FFFAE2;
    border: none;
    border-radius: 15px;
}
#submitBtn:hover {
    cursor: pointer;

    background-color: #EFB169;
}
#paragraph {
    display: none;

    border: 5px dashed #5C3200;
    background-color: white;
    border-radius: 50px;
    padding: 45px 20px;
    margin: auto;
    margin-bottom: 50px;
    width: 500px;

    font-size: 24px;
}
#tail {
    position: fixed;
    left: -10px;
    top: 300px;
}
#tail:hover {
    animation: tailAnimation 1.5s ease infinite;
}
#paw {
    position: fixed;
    right: -5px;
    bottom: -10%;
}
#paw:hover {
    animation: pawAnimation 1s ease infinite;
}

@keyframes pawAnimation {
    0% {transform: translateY(0);}
    50% {transform: translateX(-75px);
        transform: translateY(-70px)}
}
@keyframes tailAnimation {
    0% {transform: translateX(0);}
    50% {transform: translateX(-20px);}
}